@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#root,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul li a {
  color: #000;
}

ul li a:hover {
  color: #00a8ff;
}

ul li a.active {
  color: #00a8ff;
}
